<!-- Section - Certificate -->
<section class="lui-section lui-gradient-top" id="certificate-section">
    <!-- Heading -->
    <div class="lui-heading">
        <div class="container">
            <div class="m-titles align-center">
                <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                    <span>{{ heading_title }}</span>
                </h2>
                <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                    <span>{{ heading_subtitle }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Certificate -->
    <div class="v-line v-line-right">
        <div class="container">
            <div class="certificates-box">
                <div class="filter-links scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <a href="#" class="lui-subtitle active" data-href=".certificates-col">All</a>
                    {{ taxonomy:certificate_categories }}
                        <a href="#" class="lui-subtitle" data-href=".{{ slug }}">{{ title }}</a>
                    {{ /taxonomy:certificate_categories }}
                </div>

                <div class="certificates-items certificates-masonry-items row">
                    {{ collection:certificates as="certificates" where="featured:true" limit="6" }}

                        {{ if no_results }}
                            <h4 class="text-center py-4">No Certifficates Yet</h4>
                        {{ /if }}

                        {{ certificates }}
                            <div class="certificates-col col-xs-12 col-sm-12 col-md-12 col-lg-12 {{ certificate_categories }} {{ slug }} {{ /certificate_categories }}">
                                <div class="certificates-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                    <div class="image">
                                        <div class="img">
                                            <a href="{{ certificate_url }}">
                                                <img decoding="async" src="{{ thumbnail }}" alt="Explore"/>
                                                <span class="overlay"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <span class="category">{{ certificate_categories }}  <span class="tags">{{ title }}</span> {{ /certificate_categories }}</span>
                                        <h5 class="name">
                                            <a href="{{ certificate_url }}">{{ title }} - {{ year }}</a>
                                        </h5>
                                        <a href="{{ certificate_url }}" class="lnk">View Certificates</a>
                                    </div>
                                    <div class="bg-img" style="background-image: url(/images/pat-2.png)"></div>
                                </div>
                            </div>
                        {{ /certificates }}

                        {{ if certificates count=">6" }}
                            <div class="load-more-link">
                                <a href="{{ nav handle='navbar' }}/certificates" class="btn scrolla-element-anim-1 scroll-animate my-4" data-animate="active">
                                    <span>View More</span>
                                </a>
                            </div>
                        {{ /if }}
                    {{ /collection:certificates }}
                </div>

            </div>

            <div class="lui-bgtitle">
                <span>{{ heading_title }}</span>
            </div>
        </div>
    </div>
</section>
