<!-- Footer -->
<div class="footer">
    <div class="footer__builder">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="social-links scrolla-element-anim-1 scroll-animate" data-animate="active">
                        {{ social_links:social_links }}
                        <a target="_blank" rel="nofollow" href="{{ social_media_url }}" title="{{ social_media_name }}">
                            <i aria-hidden="true" class="{{ social_media_icon }}"></i>
                        </a>
                        {{ /social_links:social_links }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="copyright-text align-center scrolla-element-anim-1 scroll-animate" data-animate="active">
                        {{ footer:title }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
