.comment-form-cookies-consent {
    input {
        margin-right: 10px;
        position: relative;
        top: 7px;
    }

    label {
        display: inline-block;
        vertical-align: top;
    }
}
