@use "../abstracts/variables";

.numbers-items {
    position: relative;
    z-index: 2;

    .numbers-item {
        position: relative;
        padding-left: 130px;
        margin-bottom: 40px;

        &:hover {
            .icon{
                border: 2px solid variables.$active_color;
                box-shadow: 5px 5px 0 0 variables.$active_color;
                color: variables.$active_color;
                transition: all 0.7s ease;

                &:after {
                    background: variables.$active_color;
                    transition: all 0.7s ease;
                }
            }
            .title {
                color: variables.$active_color;
                transition: all 0.7s ease;
            }
        }

        .icon {
            position: absolute;
            left: 0;
            top: 0;
            border: 2px solid variables.$dark_color;
            border-radius: 50%;
            background-color: variables.$white_color;
            box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
            width: 56px;
            height: 56px;
            text-align: center;
            line-height: 52px;
            font-size: 20px;

            &:after {
                margin-top: -1px;
                content: "";
                position: absolute;
                left: 100%;
                top: 50%;
                width: 40px;
                height: 2px;
                background: variables.$dark_color;
            }


        }

        .title {
            padding: 10px 0;
            font-family: variables.$extra_font;
            font-size: 30px;
            line-height: 1;
            font-weight: 700;
            color: variables.$dark_color;
        }
    }
}

.contacts-form,
.form-comment,
.comment-respond {
    position: relative;
    z-index: 2;

    .group {
        position: relative;
        margin-bottom: 30px;
    }

    label {
        padding: 0;
        display: block;
        text-indent: 30px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.05em;

        strong,
        b {
            color: variables.$active_color;
        }
    }

    input,
    textarea {
        margin-top: 10px;
    }

    .bg-img {
        position: absolute;
        left: -135px;
        bottom: -32px;
        width: 240px;
        height: 240px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }
}

.terms-label {
    margin-right: 30px;
    display: inline-block;
    line-height: 56px;
}
