@use "../abstracts/variables";

.services-item {
    position: relative;
    overflow: hidden;
    padding: 30px 35px;
    background: #fff;
    border-radius: 18px;
    transition: all ease 1s;

    &:before,
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        border-style: solid;
        border-width: 2px;
        z-index: 1;
        border-color: variables.$active_color;
        opacity: 0;
        visibility: hidden;
        transition: all ease 1s;
    }

    &:first-child {
        margin-top: 0;
    }
    .icon {
        margin: 15px 0 15px 0;
        font-size: 41px;
        min-height: 50px;
        line-height: 1;
        color: variables.$active_color;
    }
    .lui-text {
        min-height: 175px;
    }
    .image {
        position: absolute;
        right: -24px;
        bottom: -64px;
        width: 141px;
        height: 141px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &:hover{
        transform: translate(-10px, -10px);
        box-shadow: 15px 15px 30px -15px variables.$active_color;

        &:before,
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.works-item {
    .bg-img {
        position: absolute;
        right: -24px;
        bottom: -64px;
        width: 141px;
        height: 141px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}


.works-box.works-list {
    .works-item {
        .bg-img {
            right: 43%;
            bottom: 0;
        }
    }
}
