@use "../abstracts/variables";

.services-item {
    position: relative;
    overflow: hidden;
    padding: 30px 35px;
    background: #fff;
    border-radius: 18px;
    &:first-child {
        margin-top: 0;
    }
    .icon {
        margin: 15px 0 15px 0;
        font-size: 41px;
        min-height: 50px;
        line-height: 1;
        color: variables.$active_color;
    }
    .lui-text {
        min-height: 175px;
    }
    .image {
        position: absolute;
        right: -24px;
        bottom: -64px;
        width: 141px;
        height: 141px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &:hover{
        transform: translate(-15px, -15px);
        border: 2px solid variables.$active_color;
        box-shadow: 15px 15px 30px -15px variables.$active_color;
        transition: all 0.7s ease;
    }
}

.works-item {
    .bg-img {
        position: absolute;
        right: -24px;
        bottom: -64px;
        width: 141px;
        height: 141px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}


.works-box.works-list {
    .works-item {
        .bg-img {
            right: 43%;
            bottom: 0;
        }
    }
}
