@use "../abstracts/variables";
@use "../abstracts/mixins";

.works-box,
.certificates-box {
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    z-index: 2;

    &.works-box-list {
        margin-left: 0;
        margin-right: 0;
    }
}

.filter-links {
    margin: 0 0 30px 0;
    position: relative;
    z-index: 2;
    text-align: center;

    a {
        margin: 0 20px 20px 20px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: #000;
        text-decoration: none;

        &:before {
            margin-top: -2px;
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 0;
            max-width: 60%;
            height: 2px;
            background: variables.$active_color;
            transition: all 0.3s cubic-bezier(0.3, 0, 0.3, 1);
        }

        &:hover:before,
        &.active:before {
            width: 40px;
        }

        &.active {
            color: variables.$active_color;
        }
    }
}

.works-item,
.certificates-item {
    position: relative;
    overflow: hidden;

    a {
        text-decoration: none;
    }

    .image {
        position: relative;
        line-height: 1;
        font-size: 0;
        display: block;

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: -10px;
            top: -10px;
            width: 10px;
            height: calc(100% + 20px);
            background: variables.$light_default_bg;
            z-index: 2;
            pointer-events: none;
            transition: variables.$transition-btn;
        }

        &:after {
            left: auto;
            right: -10px;
        }

        .img {
            position: relative;
            display: block;
            width: 100%;

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: -10px;
                top: -10px;
                width: calc(100% + 20px);
                height: 10px;
                background: variables.$light_default_bg;
                z-index: 2;
                pointer-events: none;
                transition: variables.$transition-btn;
            }

            &:after {
                top: auto;
                bottom: -10px;
            }

            img {
                width: 100%;
                object-fit: cover;
                transform: scale(1);
                transition: variables.$transition-btn;
            }
        }

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(16, 30, 50, 0.5);
            opacity: 0;
            font-size: 25px;
            color: #fff;
            line-height: 1;
            transform: scale(1);
            transition: variables.$transition-btn;

            &:before {
                content: "\f002";
                position: absolute;
                top: 30px;
                right: 30px;
                font-family: variables.$font_awesome;
                font-weight: 900;
            }
        }
    }

    &:hover {
        .desc .name a {
            color: variables.$active_color;
        }

        .image {
            &:before,
            &:after {
                width: 20px;
            }

            .img {
                &:before,
                &:after {
                    height: 20px;
                }

                img {
                    transform: scale(1.04);
                }
            }

            .img .overlay {
                opacity: 1;
            }
        }
    }
}

.works-items,
.certificates-items {
    &.works-list-items,
    &.certificates-list-items {
        margin-top: -100px;
        position: relative;

        .works-item,
        .certificates-item {
            margin-top: 100px;

            .image {
                overflow: hidden;
                float: left;
                width: 50%;
                z-index: 2;
            }

            .desc {
                margin-left: 58%;
                padding: 0 8% 0 0;
                position: relative;
                min-height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .category {
                    margin-bottom: 5px;
                    display: block;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 0.05em;
                    color: variables.$active_color;
                }

                .name {
                    margin-bottom: 0;
                    font-family: variables.$default_font;
                    font-size: 58px;
                    line-height: 1;
                    color: #000;
                    font-weight: 700;
                    display: block;

                    a {
                        color: #000;
                    }
                }
            }
        }
    }

    &.works-masonry-items,
    &.certificates-masonry-items {
        margin-top: -40px;
        margin-left: 0;
        margin-right: 0;

        .works-col,
        .certificates-col {
            padding: 40px 20px 0 20px;
            width: 33.333%;
            flex: 0 0 33.333%;
        }

        .works-item,
        .certificates-item {
            padding: 30px;
            background: #fff;
            border-radius: 20px;

            @include mixins.card-hover();

            .image {
                position: relative;
                overflow: hidden;
                line-height: 1;
                font-size: 0;
                display: block;
                border-radius: 18px;

                img {
                    height: 240px;
                    border-radius: 18px;
                }

                .overlay:before,
                .img:before,
                .img:after,
                &:before,
                &:after,
                .overlay {
                    display: none;
                }
            }

            .desc {
                position: relative;
                padding: 30px 0 0 0;

                .category {
                    margin-bottom: 5px;
                    display: block;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 0.05em;
                    color: variables.$active_color;
                }

                .name {
                    margin-bottom: 1rem;

                    a {
                        color: #000;
                    }
                }

                .text {
                    margin: 15px 0 0 0;
                    min-height: 125px;
                }
            }
        }
    }

    &.hide_category {
        .works-item .desc .category,
        .certificates-item .desc .category {
            display: none;
        }
    }
}

.load-more,
.load-more-link {
    position: relative;
    margin-top: 70px;
    text-align: center;
    z-index: 2;
}

.m-gallery {
    margin: 0 -20px;

    .works-item .image img {
        height: auto;
    }

    .col-lg-6 {
        padding: 20px;
    }
}
