::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

:-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}
