@use "../abstracts/variables";

/*Mixins*/
@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
}

@mixin box-shadow($param) {
    box-shadow: $param;
    -moz-box-shadow: $param;
    -webkit-box-shadow: $param;
    -khtml-box-shadow: $param;
}

@mixin transition($param) {
    transition: $param;
    -moz-transition: $param;
    -webkit-transition: $param;
    -o-transition: $param;
}

@mixin transform($param) {
    transform: $param;
    -webkit-transform: $param;
    -moz-transform: $param;
    -o-transform: $param;
}

@mixin card-hover($color: variables.$active_color) {
    position: relative;
    overflow: hidden;
    transition: all ease 1s;

    &:hover {
        transform: translate(-10px, -10px);
        box-shadow: 15px 15px 30px -15px $color;
        border: 1px solid $color;
    }
}
