<div class="my-4">
    <div class="post-content">
        <h3 class="mb-3">Project's System Architecture</h3>
    </div>
                <div class="works-item">
                    <div class="image scrolla-element-anim-1 scroll-animate" data-animate="active">
                        <div class="img">
                            <a href="{{ architecture_image }}">
                                <img decoding="async" src="{{ architecture_image }}" alt="{{ alt or 'architecture_image' }}" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
    <div class="post-content">
        {{ explanations }}
    </div>
</div>
